
 .ImageTask {
            margin-bottom: 40px;
            background-color:  rgb(89, 30, 76);
            color:white;
        } 

  .AudioTask {
            background-color:  rgb(89, 30, 76);
            color:black;
            margin-bottom: 40px;
        }

  .VideoTask {
            background-color: rgb(89, 30, 76);
            color:white;
            margin-bottom: 40px;
        }

    